<h1>User#index</h1>
<%= collection_select(:current_category, :id, Category.all, :id, :name) %>
<%= render partial: 'users/single_doctor', collection: Doctor.where(category_id: @current_category.id), as: :doctor %>
