<%= form_with(url: "/doctors", method: :get, local: true) do |form| %>
    <%= form.collection_select(:category, Category.all, :id, :name, include_blank: 'All') %>
    <%= form.submit "Filter" %>
<% end%>
<table class="doctors-table">
  <tr>
    <th>Full Name</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>
  <%= render partial: 'doctors/single_doctor', collection: @doctors, as: :doctor %>
</table>
